<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WiiUGamepadToMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WiiUGamepadToMouse.Properties.Settings>
            <setting name="multi" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="xOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="touchLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </WiiUGamepadToMouse.Properties.Settings>
    </userSettings>
</configuration>